<!doctype html>
<title>Main</title>

<h1> This is a main page </h1>

<h2>String Clean</h2>
<form action="/main/string_clean">
    Input string:<br>
    <input type="text" name="string" value="">
    <br>
    <br>
    <button type="submit">submit</button>
</form>

<h2>Max Block</h2>
<form action="/main/max_block">
    Input string:<br>
    <input type="text" name="string" value="">
    <br>
    <br>
    <button type="submit">submit</button>
</form>

<h2>Reorder Block</h2>
<form action="/main/reorder_block">
    Input string:<br>
    <input type="text" name="string" value="">
    <br>
    <br>
    <button type="submit">submit</button>
</form>